body {
  /* font-family: "Scheherazade New", serif; */
  color-scheme: light dark;
  background-color: #fbfbfb;
}
/* src/styles.css yoki sizning umumiy CSS faylingiz */
.large-display-only {
  display: none;
}

@media (min-width: 453px) {
  .large-display-only {
    display: block;
  }
}
