.detail-more-container {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100vh;
}

.presentation-container {
  overflow: hidden;
}

.info-container {
  overflow-y: auto;
  background-color: #f3f4f6;
}

.reveal .slides section {
  height: 100%;
}
